<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="well" style="margin-top: 60px;">
      <p>Hệ thống đã nhận được yêu cầu đặt hàng của bạn. Trong vòng 24h, chúng tôi sẽ liên hệ với bạn để tiến hành giao máy.</p>
      <p>Cảm ơn bạn đã sử dụng dịch vụ của HTE,</p>
      <p>Ban quản trị</p>
      <p><%= link_to 'Quay về trang chủ', root_path %></p>
    </div>
  </div>
</div>